### Terraform
# Providers
.terraform
# Variables init
terraform.tfvars
# State
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

### Ansible
ansible.cfg
inventory.*
hosts.*

### VS Code
.vscode

### Python
.venv
.env
venv
__pycache__
